---
import '../styles/global.css'
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <div class="flex flex-col items-center gap-0.5 font-mono border-b-2 py-6 mx-auto w-full bg-slate-50">
    <h1 class="text-teal-500 text-2xl font-semibold uppercase">{frontmatter.title}</h1>
    <p class="text-slate-800 text-[12px] font-bold tracking-widest">Written by: <span class="font-normal">{frontmatter.author}</span></p>
    <p class="text-[12px] font-semibold text-slate-800">publish at: <span class="font-normal">{frontmatter.pubDate}</span></p>
    <p class="text-[10px] font-semibold tracking-wider">tags: {frontmatter.tags.map((el: unknown) => <span class="text-[10px] text-neutral-500">|{el}| </span>)}</p>
    <div class="desc">
      <p class="text-[12px] font-semibold bg-slate-200 p-2 rounded-md">Description: <span class="font-normal">{frontmatter.description}</span></p>
    </div>
    <div class="post-image py-6">
      <img src={frontmatter.image.url} alt={frontmatter.title} class="w-44">
    </div>
    <a href="/blog" class="text-[14px] font-bold tracking-wide text-pink-600 border-b-2 pt-4 transition-colors hover:text-pink-700">See All Posts</a>
  </div>
  <slot />
</Layout>